.formControl.error input,
.formControl.error textarea
{
    border: solid red 2px;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border:red 3 px;
    padding: 5px;
    color: greenyellow;
}